In [54]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [36]:
df=pd.read_csv('/Users/gautammehta/Downloads/hypertension_dataset.csv')

In [37]:
df.head(5)

,Age,Salt_Intake,Stress_Score,BP_History,Sleep_Duration,BMI,Medication,Family_History,Exercise_Level,Smoking_Status,Has_Hypertension
0,69,8.0,9,Normal,6.4,25.8,NaN,Yes,Low,Non-Smoker,Yes
1,32,11.7,10,Normal,5.4,23.4,NaN,No,Low,Non-Smoker,No
2,78,9.5,3,Normal,7.1,18.7,NaN,No,Moderate,Non-Smoker,No
3,38,10.0,10,Hypertension,4.2,22.1,ACE Inhibitor,No,Low,Non-Smoker,Yes
4,41,9.8,1,Prehypertension,5.8,16.2,Other,No,Moderate,Non-Smoker,No

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1985 non-null   int64
 1   Salt_Intake       1985 non-null   float64
 2   Stress_Score      1985 non-null   int64
 3   BP_History        1985 non-null   object
 4   Sleep_Duration    1985 non-null   float64
 5   BMI               1985 non-null   float64
 6   Medication        1186 non-null   object
 7   Family_History    1985 non-null   object
 8   Exercise_Level    1985 non-null   object
 9   Smoking_Status    1985 non-null   object
 10  Has_Hypertension  1985 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 170.7+ KB

In [39]:
df.describe(include='object')

,BP_History,Medication,Family_History,Exercise_Level,Smoking_Status,Has_Hypertension
count,1985,1186,1985,1985,1985,1985
unique,3,4,2,3,2,2
top,Normal,Beta Blocker,No,Low,Non-Smoker,Yes
freq,796,412,1000,936,1417,1032

In [40]:
df.describe()

               Age  Salt_Intake  Stress_Score  Sleep_Duration          BMI
count  1985.000000  1985.000000   1985.000000     1985.000000  1985.000000
mean     50.341058     8.531688      4.979345        6.452242    26.015315
std      19.442042     1.994907      3.142303        1.542207     4.512857
min      18.000000     2.500000      0.000000        1.500000    11.900000
25%      34.000000     7.200000      2.000000        5.400000    23.000000
50%      50.000000     8.500000      5.000000        6.500000    25.900000
75%      67.000000     9.900000      8.000000        7.500000    29.100000
max      84.000000    16.400000     10.000000       11.400000    41.900000

In [41]:
df.head(5)

,Age,Salt_Intake,Stress_Score,BP_History,Sleep_Duration,BMI,Medication,Family_History,Exercise_Level,Smoking_Status,Has_Hypertension
0,69,8.0,9,Normal,6.4,25.8,NaN,Yes,Low,Non-Smoker,Yes
1,32,11.7,10,Normal,5.4,23.4,NaN,No,Low,Non-Smoker,No
2,78,9.5,3,Normal,7.1,18.7,NaN,No,Moderate,Non-Smoker,No
3,38,10.0,10,Hypertension,4.2,22.1,ACE Inhibitor,No,Low,Non-Smoker,Yes
4,41,9.8,1,Prehypertension,5.8,16.2,Other,No,Moderate,Non-Smoker,No

In [42]:
df.duplicated().sum()

np.int64(0)

In [43]:
df.isna().sum()

Age                   0
Salt_Intake           0
Stress_Score          0
BP_History            0
Sleep_Duration        0
BMI                   0
Medication          799
Family_History        0
Exercise_Level        0
Smoking_Status        0
Has_Hypertension      0
dtype: int64

In [44]:
df.fillna('No',inplace=True)

In [52]:
df.isna().sum()
X=df.iloc[:,:10]
y=df['Has_Hypertension']

Age               0
Salt_Intake       0
Stress_Score      0
BP_History        0
Sleep_Duration    0
BMI               0
Medication        0
Family_History    0
Exercise_Level    0
Smoking_Status    0
dtype: int64

In [53]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=42)

In [58]:
path=os.path.join('/Users/gautammehta/Desktop/smal_project/data','processed')
os.makedirs(path,exist_ok=True)

X_train.to_csv(os.path.join(path,'X_train_pro'),index=False)
X_test.to_csv(os.path.join(path,'X_test_pro'),index=False)
y_test.to_csv(os.path.join(path,'y_test_pro'),index=False)
y_train.to_csv(os.path.join(path,'y_train_pro'),index=False)